<!DOCTYPE html>
<html>
<head>
	<title>Profile</title>
</head>
<body>
	<h1>My name is <%= name %>.</h1>
	<h1>I am <%= age %> years old.</h1>
	<hr/>
	<p>
	<% for (var i = 0; i < 10; i++) {%>
		The square of <%= i %> is <%= i * i %>.<br/>
	<% } %>
	</p>
</body>
</html>