<!DOCTYPE html>
<html>
<head>
	<title>Store</title>
	<meta name="viewport" content="width=divice-width, initial-scale=1"/>
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.css"/>
	<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script>
		$(document).ready(function () {
			function changeIcon(parent, from, to) {
				var target = $('.ui-btn-text', parent).next();
				target.removeClass(from).addClass(to);
			}

			function changeCount(index, count) {
				$('li[data-index='+index+'] .ui-li-count').html(count);
			}

			var socket = io.connect();
			socket.on('count', function (data) {
				changeCount(data.index, data.count);
			});

			socket.on('return', function (index) {
				var target = $('li[data-index='+index+'] > a[data-icon]')
				changeIcon(target, 'ui-icon-back', 'ui-icon-check');
				$(target).attr('toggle', 'on');
			});

			$('.product > a[data-icon]').click(function () {
				if ($(this).attr('toggle') != 'off') {
					var index = $(this).attr('data-index');
					socket.emit('cart', Number(index));
					changeIcon(this, 'ui-icon-check', 'ui-icon-back');
					$(this).attr('toggle', 'off');

				} else {
					var index = $(this).attr('data-index');
					if (confirm('Do you want to buy this product?')) {
						socket.emit('buy', Number(index));
						//$(this).parent().remove();
						//$('#listview').listview('refresh');
						changeIcon(this, 'ui-icon-back', 'ui-icon-check');

					} else {
						socket.emit('return', Number(index));
						changeIcon(this, 'ui-icon-back', 'ui-icon-check');
					}

					$(this).attr('toggle', 'on');
				}
			});
		});
	</script>
</head>
<body>
	<div data-role="page">
		<div data-role="header">
			<h1>Store</h1>	
		</div>
		<div data-role="content">
			<ul id="listview" data-role="listview" data-inset="true" data-filter="true">
				<li data-role="list-divider">products</li>
				<% products.forEach(function (product, index) { %>
				<li class="product" data-index="<%=product.index%>">
					<a href="#">
						<img src="images/<%=product.image%>" width="100%" height="100%">
						<h3><%=product.name%></h3>
						<p><%=product.price%> won</p>
						<span class="ui-li-count"><%=product.count%></span>
					</a>
					<a href="#" data-icon="check" data-index="<%=product.index%>"></a>
				</li>
				<% }) %>
			</ul>
		</div>
	</div>
</body>
</html>